<div id="threads" class="autopagerize_page_element">
    
<% if thread %>
  <%= render 'common/parent_post', { post: thread } %>
<% end %>

<% replies.each do |reply| %>
  <%= render 'common/post', { post: reply } %>
<% end %>

<hr />
</div>