<div id="del">
<table style="float: right;">
<tr><td align="center" style="white-space: nowrap;">
【刪除文章】[<input type="checkbox" name="onlyimgdel" id="onlyimgdel" value="on" /><label for="onlyimgdel">僅刪除附加圖檔</label>]<br />
刪除用密碼: <input type="password" name="pwd" size="8" value="" /><input type="submit" value=" 執行 " />
</td></tr>
</table>
</div>